<ng-container *ngIf="records != undefined;">
  <div class="currentchat">
    <ng-container *ngIf="selectedChat != undefined;">{{selectedChat}} - Conversation</ng-container>
  </div>
  <ng-container *ngFor="let message of getCurrentRecord()">
    <div class="chatmessage">
      <div class="chatpadding">
        <div>
          <span class="name">{{message.from}}</span><span class="timestamp"> on {{message.timestamp}}</span>
        </div>
        <div class="chatrow" [innerHTML]="message.message"></div>
      </div>
    </div>
  </ng-container>
</ng-container>
