@import "../../../variables";

div.left-padding {
  padding-left: 16px;
}

span.name {
  color: $color-name-text;
  font-weight: bold;
}

span.timestamp {
  font-size: 0.8em;
  color: $color-timestamp-text;
}

header.current-chat {
  background-color: $bg-color-chat-top-bar;
  color: $color-chat-top-bar;
  top: 0;
  text-align: center;
  position: sticky;
}

div.chat-message {
  background-color: $bg-color-chat-message;
}

div.chat-message:hover {
  background-color: darken($bg-color-chat-message, 2%);
}

div.chat-row {
  min-height:32px;
  padding-left: 5px;
}

// https://stackoverflow.com/a/36265072
// Dynamically generated chatlog HTML
:host ::ng-deep .item
{
  color: $color-name-text
}
