@import "../../../variables";

div.namepadding {
  padding-left:16px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight:bold;
  user-select: none;
}

div.name {
  background-color: inherit;
  color: inherit;
}

div.name:hover, div.name:active {
  background-color:#2B2A24;
}

div.selectedname {
  background-color: #38362F;
  color: #EAE7E3;
}
