@import "../../../variables";

div.name-padding {
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  user-select: none;
}

div.name {
  background-color: inherit;
  color: inherit;
}

div.name:hover, div.name:active {
  background-color: $bg-color-name-list-hover;
}

div.name-selected {
  background-color: $bg-color-name-list-selected;
  color: $color-name-list-text;
}
