<div *ngIf="!files.length" appDragDrop (files)="onFilesDropped($event)">
  Drop your file here!
</div>

<div class="container">
  <div class="row">
    <div class="two columns peoplelist">
      <ng-container *ngIf="chatHistory?.chatRecords != undefined;">
        <ng-container *ngFor="let record of chatHistory.chatRecords;">
          <a href="#">{{record.chatName}}</a><br />
        </ng-container>
      </ng-container>
    </div>
    <div class="ten columns chatwindow">
      <ng-container *ngIf="chatHistory?.chatRecords != undefined;">
        <ng-container *ngFor="let record of chatHistory.chatRecords;">
          <ng-container *ngFor="let message of record.chatMessages">
            <span class="timestamp">[{{message.timestamp}}]</span>&nbsp;<span class="name">&lt;{{message.from}}&gt;</span>&nbsp;<span [innerHTML]="message.message"></span><br />
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
