<div *ngIf="!files.length" appDragDrop (files)="onFilesDropped($event)">
  Drop your file here!
</div>

<div class="container">
  <div class="row">
    <div class="two columns viewport peoplelist">
      <ng-container *ngIf="chatHistory?.chatRecords != undefined;">
        <ng-container *ngFor="let record of chatHistory.chatRecords;">
          <a href="#" (click)="selectChat(record.chatName)">{{record.chatName}}</a><br />
        </ng-container>
      </ng-container>
    </div>
    <div class="ten columns viewport chatwindow">
      <ng-container *ngIf="chatHistory?.chatRecords != undefined;">
        <span>Current chat: {{selectedChat}}</span><br />
        <ng-container *ngFor="let message of chatHistory.chatRecords | messagesFrom:selectedChat">
          <span class="timestamp">[{{message.timestamp}}]</span>&nbsp;<span class="name">&lt;{{message.from}}&gt;</span>&nbsp;<span [innerHTML]="message.message"></span><br />
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
