@import "../../../variables";

$border-width: 5px;
$margin: 10px;
$height: 200px;

div.container {
  display: grid;
  place-items: center;
  div.outer {
    width: calc(100% - calc(#{$border-width} * 2) - calc(#{$margin} * 2));
    border: $border-width dashed #AAA;
    margin: $margin;
    cursor: pointer;

    div.inner {
      height: $height;
      display: grid;
      place-items: center;
    }
  }

  .over {
    background-color: lighten($bg-color-main-window, 10%);
  }
}
