@import "variables";
@import "normalize";

body {
  background-color: #282723;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-chat-text;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #22211D;
}

::-webkit-scrollbar-thumb {
  background: #080703;
}
