$large-window-padding-vertical: 19px;
$menu-height: 50px;
$app-window-width: 1396px;
$bg-color-main-window: #282723;
$bg-color-menu-bar: #12100E;

$bg-color-name-list: #211F1E;
$bg-color-name-list-hover: #2B2A24;
$bg-color-name-list-selected: #38362F;
$color-name-list-text: #EAE7E3;

$bg-color-chat-top-bar: #524D47;
$bg-color-chat-message: #282723;
$bg-color-chat-message-hover: #282723;
$color-chat-top-bar: #DDDCDC;
$color-name-text: #EA77A5;
$color-timestamp-text: #FFA523;
$color-chat-text: #CECBC6;

$bg-color-modal: #161616;
$color-modal: #EAE7E3;
