$color-primary-0: #29526D;	// Main Primary color */
$color-primary-1: #708FA3;
$color-primary-2: #486F88;
$color-primary-3: #123852;
$color-primary-4: #032236;

$color-chat-text: #CECBC6;
$color-timestamp-text: #FFA523;
$color-name-text: #EA77A5;
